.form {
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#ffffff;
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 25px;
    width: 160px;
    height: 150px;
}

.form_label {
    position: relative;
    font-family: Montserrat, serif;
    font-style:normal;
    font-weight: 800;
    font-size:18px;
    line-height:22px;
    color:#000000;
    margin-bottom: 5px;
}

.form_item {
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

.form_button {
    position: relative;
    width:140px;
    height:32px;
    background:#70d16c;
    color:black;
    margin-top: 10px;
    border-radius:7px;
    border:1px solid #000000;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 500;
    font-size:18px;
    line-height:22px;
    cursor: pointer;
}
.form_button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .balance_amount {
    margin-left: 20px;
  }