.form4 {
    position: relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    background:#ffffff;
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 25px;
    width: 1100px;
    height: 170px;
 
}
.form4-position {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.img-style {
    height: 150px;
    width: 150px;
}

.buy-laptop {
    position: relative;
    width:140px;
    height:32px;
    background:#5a7db3;
    color:black;
    margin-top: 10px;
    border-radius:7px;
    border:1px solid #000000;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 500;
    font-size:18px;
    line-height:22px;
    cursor: pointer;
}