.header{
    display: flex;
    align-items: center;
    padding-left:24px;
    height:64px;
    background:#37393b;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_logo{
    display: flex;
    align-items: center;
    font-family: Quando, serif;
    font-size:26px;
    line-height:48px;
    color:#ffffff;
}