.form3 {
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#ffffff;
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 25px;
    width: 160px;
    height: 180px;
}

.form_label3 {
    position: relative;
    font-family: Montserrat, serif;
    font-style:normal;
    font-weight: 800;
    font-size:18px;
    line-height:22px;
    color:#000000;
    margin-bottom: 5px;
}

.word {
    font-weight: bold;
    margin-top: 5px;
}

.sentence {
    font-weight: lighter;
}