.form2 {
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#ffffff;
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 25px;
    width: 160px;
    height: 150px;
}

.form_label2 {
    position: relative;
    font-family: Montserrat, serif;
    font-style:normal;
    font-weight: 800;
    font-size:18px;
    line-height:22px;
    color:#000000;
    margin-bottom: 5px;
}

.form_item2 {
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

.buttons_position {
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.sent-bank {
    background: yellow;
    color:black;
    margin-top: 10px;
    border-radius:7px;
    border:1px solid #000000;
    width:50px;
    height:32px;
}
.add-money {
    background: blue;
    color:white;
    margin-top: 10px;
    border-radius:7px;
    border:1px solid #000000;
    width:50px;
    height:32px;
}

.repay-loan {
    background: green;
    color:white;
    margin-top: 10px;
    border-radius:7px;
    border:1px solid #000000;
    width:50px;
    height:32px;
}
.add-money:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .repay-loan:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .sent-bank:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .pay_amount {
    margin-left: 30px;
  }